.background{
    text-align: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.backimg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.9;
}

.home_text{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.home_title{
    font-size: 3.5rem;
    font-weight: 800;
    color: #fff;
    font-family: var(--newfont);
}

.home_description{
    font-size: 2rem;
    font-weight: 400;
    color: #90fcf8;
}

.btnhome{
    font-size: 1rem;
    font-weight: 600;
    padding: 18px 45px;
    margin: 0;
    text-decoration: none;
    justify-content: center;
    color: white;
    background-color: #09C5A3;
    border: solid #09C5A3 2px;
    border-radius: 500px;
    cursor: pointer;
    margin-top: 4rem;
    margin-left: -7.8rem;
    position: fixed;
}

.btnhome:hover{
    background-color: #00A98B;
    border: solid #00A98B 2px;
}


@media screen and (max-width: 850px){
    .home_title{
        font-size: 2rem;
    }
    
    .home_description{
        font-size: 1rem;
    }
    
    .home_text{
        top: 45%;
    }

    .backimg{
        width: 100%;
        height: 600px;
        opacity: 0.9;
    }

    .btnhome{
        font-size: 0.8rem;
        font-weight: 600;
        padding: 12px 35px;
        margin-left: -6rem;
    }
}

@media screen and (max-width: 1000px){
    .backimg{
        height: 600px;
    }
}