.second_about{
    grid-column: 1 / span 4;
    grid-row: 4 / span 1;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: row;
    max-height: 500px;
    width: 100%;
}

.imgcontainer{
    width: 50%;
}

.imgcompany{
    width: 50rem;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 1;
}

#companydesc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem 7rem 5rem 5rem;
    color: white;
    background: #09C5A3;
}

.titlecompany{
    font-size: 2.5rem;
    font-weight: 700;
    width: 100%;
    padding-bottom: 2rem;
    font-family: var(--newfont);
}

.descrive{
    font-size: 1.1rem;
    font-weight: 500;
    width: 100%;
    line-height: 1.5rem;
    padding-bottom: 1.5rem;
    font-family: var(--newfont);
    color: white;
}


@media screen and (max-width: 850px){
    .second_about {
        margin-top: 25rem;
        margin-bottom: 15rem;
        flex-direction: column;
      }
    
    .imgcontainer{
        width: 100%;
    }

      .imgcompany {
        width: 100%; 
        height: auto;
      }
    
      #companydesc {
        width: 100%; 
        padding: 2rem; 
        text-align: center; 
      }
    
      .titlecompany,
      .descript {
        width: 100%;
        margin-left: 0; 
      }
}

@media screen and (max-width: 700px) {
    .second_about {
        margin-top: 25rem;
        margin-bottom: 15rem;
      }
}

@media screen and (max-width: 500px) {
    .second_about {
      margin-top: 55rem;
      margin-bottom: 10rem;
      flex-direction: column;
    }
  
    .imgcontainer{
        width: 100%;
    }

    .imgcompany {
      width: 100%; 
      height: auto;
    }
  
    #companydesc {
      width: 100%; 
      padding: 2rem; 
      text-align: center; 
    }
  
    .titlecompany{
        width: 100%;
        margin-left: 0; 
        font-size: 1.5rem;
    }

    .descript {
      width: 100%;
      margin-left: 0; 
      font-size: 1rem;
    }
}

