.NavbarItems{
    background-color: #F4F4F4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    box-shadow: 0 2px 15px 0 rgba(0,0,0,.2);
    width: 95%;
    height: 80px;
    border-radius: 13px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    z-index: 9999;
}

.navbar-logo{
    color: #9cdbd9;
    font-family: var(--newfont);
    cursor: pointer;
    font-size: 2rem;
}

.imgnav{
    width: 40px;
    height: 50px;
}

.linklogo{
    text-decoration: none;
}

.nav-menu{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    list-style: none;
    align-items: center;
}

.nav-links{
    text-decoration: none;
    color: #000000;
    font-size: 0.9rem;
    font-weight: 400;
    padding: 0.7rem 1rem;
    white-space: nowrap;
    font-family: var(--newfont2);
}

.nav-links i{
    padding-right: 10px;
}

.nav-links:hover{
    color: #9cdbd9;
}

.nav-links-mobile{
    display: none;
}

.boton{
    padding: 0.5rem 1rem;
    white-space: nowrap;
    border-radius: 1.5rem;
    font-size: 0.8rem;
    border: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    color: #000000;
    font-family: var(--newfont2);
    background-color: #9cdbd9;
    width: 7rem;
}

.boton:hover{
    background-color: #000000;
    color: #9cdbd9;
}

.menu-icons{
    display: none;
}

@media screen and (max-width: 850px){

    .NavbarItems{
        z-index: 99;
    }

    .nav-menu{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background: #fff;
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: -100%;
        opacity: 0;
        align-items: stretch;
        padding: 80px 0 30px 0;
        margin: 0;
        text-align: center;
        transition: 0.3s ease-in-out;
        border-radius: 13px;
    }

    .nav-menu.active{
        left: 0;
        opacity: 1;
        z-index: -1;
        transition: 0.3s ease-in-out;
    }

    .nav-links{
        margin-top: 7px;
        display: block;
        width: 100%;
        font-size: 0.9rem;
        padding: 1rem 0;
        color: #6d6d6d;
    }

    .nav-links:hover{
        background: #9cdbd9;
        color: #000;
        transition: none;
    }

    .boton{
        display: none;
    }

    .nav-links-mobile{
        display: block;
        text-align: center;
        padding: 1.5rem;
        margin: auto;
        border-radius: 4px;
        width: 80%;
        color: #000000;
        font-family: var(--newfont2);
        background: #9cdbd9;
        font-size: 0.8rem;
        text-decoration: none;
    }

    .nav-links-mobile:hover{
        background-color: #000000;
        color: #9cdbd9;
    }

    .menu-icons{
        display: block;
        color: #222;
        cursor: pointer;
    }

    .menu-icons i{
        font-size: 1.2rem;
        color: #222;
    }
    
}
 